@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@layer utilities {
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  .hero-gradient {
    background: linear-gradient(
      to right,
      oklch(0.714 0.203 305.504),
      oklch(0.591 0.293 322.896),
      oklch(0.577 0.245 27.325),
      oklch(0.704 0.191 22.216)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .sign-input input {
    background: transparent;
  }

  .sign-input input:focus {
    outline: none;
  }

  .navbar-backg {
    background: black;
  }

  .purple-shadow {
    box-shadow: 10px 0 30px #a321ff99;
  }
}

.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
  color: whitesmoke;
  font-family: "Fira Sans", sans-serif;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px; /* Vékony */
}

::-webkit-scrollbar-track {
  background: transparent; /* Háttér eltüntetése */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Fehér, áttetsző */
  border-radius: 10px; /* Lekerekített */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(
    255,
    255,
    255,
    0.7
  ); /* Ha fölé mész, kicsit látszódjon jobban */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Vékony */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Háttér eltüntetése */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Fehér, áttetsző */
  border-radius: 10px; /* Lekerekített */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(
    255,
    255,
    255,
    0.7
  ); /* Ha fölé mész, kicsit látszódjon jobban */
}
