@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@layer utilities{

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #6b0494;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
   

  .sign-input input{
    background: transparent;
  }

  .sign-input input:focus{
    outline : none;
  }

  .navbar-backg{
    background: black;
  }

  .purple-shadow{
    box-shadow : 10px 0 30px #a321ff99;
  }

}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000; 
  color: whitesmoke; 
  font-family: 'Fira Sans', sans-serif;
  min-height: 100vh; 
}

h1 {
  font-size: 1.875rem; /* text-3xl */
  font-weight: bold;
}

h2 {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600;
}

h3 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 500;
}
